@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
* {
  color: salmon;
  font-family: 'Roboto-Black', 'Helvetica';
  /*outline: 1px dashed green;*/
}

#image_container{
  float: right;
}

#tally{
  flaot: left;
}

img {
  width: 200px;
  margin: 25px
}
